* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container-principale {
    width: 60%;
    margin: 0 auto;
    height: 50px;
}

.container-logo-titolo {
    height: auto;
    margin: 0px 0px 30px 0px;
}

.nav {
    margin-bottom: 30px;
}

.nav a {
    color: grey;
    cursor: pointer;
    text-decoration: none;
    font-size: small;
}

.img-size {
    height: auto;
    width: 20%;
    padding-right: 20px;
    border-right: solid 1px lightgrey;
}

.jumbotron {
    height: 400px;
    margin-bottom: 20px;
    background-image: url("../img/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 1%;
}

.jumbo-text {
    display: inline-block;
    padding: 30% 0% 0% 5%;
    width: 60%;
    color: rgb(182, 92, 122);
}

.p-jumbo {
    padding: 0%;
    width: 50%;
    color: rgb(182, 92, 122);
    padding: 0% 0% 0% 5%;
    font-size: small;
} 

.clearfix::after {
    content:"";
    display: table;
    clear: both;
}

.titolo-main{
    height: 50px;
    background-color: white;  
    margin-bottom: 10px;  
}


.colonna-left {
    float: left;
    height: 400px;
    width: 20%;
    background-color: white;
    
} 

.img-colonna-left  {
    background-image: url(../img/img-1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 200px;
    border: solid 2px whitesmoke;
    background-size: cover;
    border-radius: 5%;
}

.titolo-p-main-line {
    line-height: 3em;
    font-size: small;
    font-weight: 600;
    color: grey;
}

.p-main-font {
    font-size: small;
    color: rgb(163, 163, 163);
}


 .colonna-center {
    float: left;
    height: 500px;
    width: calc(60% - 20px);
    background-color: white;
    margin: 0px 10px 10px 10px;
} 

.img-colonna-center  {
    background-image: url(../img/banner-2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 200px;
    border: solid 2px whitesmoke;
    background-size: cover;
    border-radius: 2%;
    background-position: center;
}

 .colonna-right {
    float: left;
    height: 400px;
    width: 20%;
    background-color: white; 
}    

.img-colonna-right {
    background-image: url(../img/img-3.jpg);
    background-repeat: no-repeat;
    height: 200px;
    border: solid 2px whitesmoke;
    background-size: auto;
    border-radius: 5%;
    background-position: center;
}




.footer {
    height: 50px;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 50px;
}


.titolo-main p {
    font-size: small;
    color: rgb(163, 163, 163);
}

#colore-cuore {
    color: red;
}

#allineamento-footer-text {
    text-align: center;
    font-size: x-small;
    color: rgb(163, 163, 163);
}