* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container-principale {
    width: 60%;
    margin: 0 auto;
    height: 50px;
    
}

.container-logo-titolo {
    height: auto;
    margin: 0px 0px 30px 0px;
   

}

.nav {
    margin-bottom: 30px;
}

.nav a {
    color: grey;
    cursor: pointer;
    text-decoration: none;

}
.img-size {
    height: auto;
    width: 20%;
    padding-right: 20px;
    border-right: solid 1px lightgrey;
    
    
}

.jumbotron {
    height: 400px;
    margin-bottom: 20px;
    background-image: url("../img/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 1%;

}

.jumbo-text {
    display: inline-block;
    padding: 25% 0% 0% 5%;
    width: 60%;
    color: rgb(182, 92, 122);

}

.p-jumbo {
    padding: 0%;
    width: 50%;
    color: rgb(182, 92, 122);
    padding: 0% 0% 0% 5%;
} 

.clearfix::after {
    content:"";
    display: table;
    clear: both;
   

}

.titolo-main{
    height: 100px;
    background-color: cadetblue;  
    margin-bottom: 10px;  
}

.colonna1 {
    float: left;
    height: 400px;
    width: 20%;
    background-color: cadetblue;
} 

 .colonna2 {
    float: left;
    height: 400px;
    width: calc(60% - 20px);
    background-color: cadetblue;
    margin: 0px 10px 10px 10px;
} 

 .colonna3 {
    float: left;
    height: 400px;
    width: 20%;
    background-color: cadetblue; 
}    

main {
    background-color: blue;
}




.footer {
    height: 50px;
    background-color: crimson;
    margin-top: 5px;
    margin-bottom: 30px;
}

.margine-finale {
    height: 5px;
}

